<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta charset='utf-8'>
    			<meta http-equiv="X-UA-Compatible" content="chrome=1">
			<link rel="stylesheet" type="text/css" href="stylesheets/custom.css" media="screen">
    			<link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    			<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
		</head>
		<body>
			<header>
				 <section id="logo">
				      <a href="https://github.com/habibu"></a>
				 </section>
				 <div class="container">
				      <h1>Muhammad Kabir Abdullahi</h1>
				      <p>A system analyst and developer, hoping to travel to Mars!</p>
				 </div>
			<header>

			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Me</a></li>
					<li><a href="/cv">My Resume</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:abdullahi.habibu.zaki@gmail.com">email</a></li>
					<li><a href="https://github.com/habibu">Github Profile</a></li>
				</ul>
				 <section id="downloads">
          <a href="https://github.com/mkabdullahi" class="btn btn-github"><span class="icon"></span>View my projects on GitHub</a>
        </section>

			</footer>
		</body>
	</html>
